<template lang="pug">
  v-navigation-drawer#app-drawer(v-model="inputValue" app dark floating persistent mobile-break-point="991" width="260")
    v-img(src="@/assets/images/doraemon.png" height="100%")
      v-layout.fill-height(tag="v-list" column)
        v-list
          v-list-item.mt-0.pa-0
            v-list-item-avatar(color="white" height="70" width="70")
              v-img(src="@/assets/images/doraemon.png" height="70")
            v-list-item-content
              v-list-item-title.title
                | DURAEMON
          v-divider
          v-list-item.v-list-item(v-for="(link, i) in links" :key="i" :to="link.path" :active-class="color")
            v-list-item-icon
              v-icon {{ link.meta.icon }}
            v-list-item-content
              v-list-item-title.title {{ link.meta.title }}
</template>

<script>
  import {
    mapMutations,
    mapState
  } from 'vuex'
  import { menu } from '@/router/paths'

  export default {
    props: {
      opened: {
        type: Boolean,
        default: false
      }
    },
    data: () => ({
      logo: '@/assets/images/doraemon.png',
      links: menu,
    }),
    computed: {
      ...mapState('app', ['color']),
      inputValue: {
        get() {
          return this.$store.state.app.drawer
        },
        set(val) {
          this.setDrawer(val)
        }
      },
      items() {
        return this.$t('Layout.View.items')
      }
    },

    methods: {
      ...mapMutations('app', ['setDrawer', 'toggleDrawer'])
    }
  }
</script>

<style lang="scss">
  #app-drawer {
    .v-list-item {
      border-radius: 4px;

      &--buy {
        margin-top: auto;
        margin-bottom: 17px;
      }
    }
  }
</style>
