<template lang="pug">
  v-footer#core-footer(absolute height="82")
    .footer-items
      span(v-for="link in links" :key="link.name")
        a.tertiary--text.footer-links(:href="link.Link") {{ link.name }}
    v-spacer
      span.font-weight-light.copyright
        | ©
        | {{ (new Date()).getFullYear() }}
        a(href="https://www.creative-tim.com/" target="_blank") Creative Tim
        | , made with
        v-icon(color="tertiary" size="17") mdi-heart
        |       for a better web
</template>

<script>
  export default {
    data: () => ({
      links: [
        { name: 'Home', Link: '/#' },
        { name: 'Creative Tim', Link: 'https://www.creative-tim.com' },
        { name: 'About Us', Link: 'https://creative-tim.com/presentation' },
        { name: 'Blog', Link: 'https://blog.creative-tim.com' }
      ]
    })
  }
</script>

<style lang="scss">
#core-footer {
  z-index: 0;
}
</style>
