<template lang="pug">
  div.image-uploader(@click="" :style="containerStyle")
    input(v-show="false"
    ref="imageUpload"
    type="file"
    accept="image/png, image/jpeg"
    @change="onFileSelect"
    )
    div.design-thumb
      img(:src="model.image" :style="imgStyle")
    div.design-action-toolbar(:style="toolbarStyle")
      div.design-action-toolbar-content
        v-btn(color="black" outlined icon @click="onSelectImage" v-show="!readonly")
          v-icon mdi-upload
</template>

<script>
  export default {
    name: 'ImageUploader',
    components: {},
    data() {
      return {
      };
    },
    props: {
      value: {
      },
      readonly: {
        type: Boolean,
        default: false,
      },
      avatar: {
        type: Boolean,
        default: false
      },
    },
    computed: {
      model: {
        get() {
          return this.value
        },
        set(val) {
          this.$emit('input', val)
        },
      },
      containerStyle() {
        if (this.avatar) {
          return {
            width: '100px',
            height: '100px',
          }
        }

        return {
          width: '800px',
          height: '200px',
        }
      },
      imgStyle() {
        if (this.avatar) {
          return {
            width: '100px',
            height: '100px',
          }
        }

        return {
          width: '800px',
          height: '200px',
        }
      },
      toolbarStyle() {
        if (this.avatar) {
          return {
            width: '100px'
          }
        }
        return {
          width: '800px'
        }
      }
    },
    watch: {
    },
    methods: {
      onSelectImage() {
        this.$refs.imageUpload.click()
      },
      onFileSelect(event) {
        const files = event.target.files || event.dataTransfer.files;
        if (!files.length) {
          return;
        }

        const file = files[0]
        const reader = new FileReader();

        reader.onload = (e1) => {
          const data = {
            file,
            image: e1.target.result
          }
          this.$emit('input', data)
        }
        reader.readAsDataURL(file)
      }
    },
    mounted() {
    }
  }
</script>

<style lang="scss">
.image-uploader {
  display: flex;
  border: #dedede solid 1px;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  img {
  }
  .design-action-toolbar {
    position: absolute;
    margin: auto;
    padding: 0 8px;
  }
}
</style>
