<template lang="pug">
  div.ml-2.mr-2.pt-2.pb-2.pl-3.pr-3.core-tag(
    :style="cmpStyle"
  ) &nbsp; {{ title }}
</template>

<script>
  export default {
    name: 'Tag',
    props: {
      color: {
        default: 'black',
      },
      title: {
      }
    },
    computed: {
      cmpStyle() {
        return {
          color: this.color,
        }
      }
    }
  }
</script>

<style lang="scss">
  .core-tag {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    min-width: 50px;
    min-height: 40px;
  }
</style>
