<template lang="pug">
  v-flex.core-toolbar-items(align-center layout py-2)
    v-text-field.elevation-0.mr-4.purple-input(
      prepend-inner-icon="mdi-magnify"
      placeholder="Search..."
      hide-details
      color="purple"
      single-line
      solo
      background-color="grey lighten-2"
    )
    // New button
    v-menu(
      bottom
      left
      content-class="dropdown-menu"
      offset-y
      transition="slide-y-transition"
      v-if="authenticated"
      )
      template(v-slot:activator="{ on }")
        v-btn.toolbar-items(icon color="grey" v-on="on")
          v-icon(color="tertiary") mdi-plus
      v-card
        v-list(dense)
          v-list-item(v-ripple :to="{ name: 'NewCommunity' }")
            v-list-item-icon
              v-icon mdi-account-group
            v-list-item-content
              v-list-item-title Community
          v-list-item(v-ripple :to="{ name: 'NewPost' }")
            v-list-item-icon
              v-icon mdi-file-document-edit
            v-list-item-content
              v-list-item-title Post
    v-menu(
      bottom
      left
      content-class="dropdown-menu"
      offset-y
      transition="slide-y-transition"
      v-if="authenticated"
      )
      template(v-slot:activator="{ on }")
        v-btn.toolbar-items(icon color="grey" v-on="on")
          v-icon(color="tertiary") mdi-account
      v-card
        v-list(dense)
          v-list-item()
            v-list-item-content
              v-list-item-title
                span.font-weight-light Signed in as <b>{{ userInfo.name }}</b> ({{ userInfo.email }})
          v-divider
          v-list-item(v-ripple :to="{ name: 'UserProfile' }")
            v-list-item-icon
              v-icon mdi-account
            v-list-item-content
              v-list-item-title Profile
          v-list-item(@click="doLogout")
            v-list-item-icon
              v-icon mdi-logout
            v-list-item-content
              v-list-item-title Logout
    router-link.toolbar-items(v-ripple :to="{ name: 'Login' }" v-if="!authenticated")
      v-icon(color="tertiary") mdi-login
</template>

<script>
  import { mapState, mapActions } from 'vuex'

  export default {
    name: 'ToolbarItems',
    data: () => ({
    }),
    computed: {
      ...mapState('authen', ['authenticated', 'userInfo']),
    },
    methods: {
      ...mapActions('authen', ['logout']),
      doLogout() {
        this.logout()
          .then(() => {
            this.$router.push({ name: 'Login' })
          })
      }
    }
  };
</script>

<style lang="scss">
  .core-toolbar-items {
    .v-text-field {
      .v-input__slot {
        box-shadow: none !important;
      }
    }
  }
</style>
