<template lang="pug">
v-app-bar#core-toolbar(app flat style="background: #eee" dense elevation="3" height="70")
  router-link(:to="{ name: 'Home' }")
    v-avatar()
      v-img(src="@/assets/images/doraemon.png")
  router-link(:to="{ name: 'Home' }")
    h3.ma-0.pl-2 Doraemon
  v-chip.ml-4(outlined color="blue" v-if="currentCommunity && currentCommunity.name")
    h3.ma-0 {{ currentCommunity.name }}
  v-spacer
  v-menu(slide-y-transition offset-y
    :close-on-content-click="false"
    v-if="mobile"
  )
    template(v-slot:activator="{ on }")
      v-btn.default.v-btn--simple(dark icon @click.stop="onMenuToggle" v-on="on")
        v-icon mdi-view-list
    v-card
      core-toolbar-items
  v-toolbar-items(v-if="!mobile")
    core-toolbar-items
</template>

<script>
  import {
    mapMutations,
    mapState
  } from 'vuex'

  export default {
    data: () => ({
      title: null,
      responsive: false,
      mobile: false,
    }),
    watch: {
      $route(val) {
        this.title = val.name
      }
    },
    computed: {
      ...mapState('community', ['currentCommunity']),
    },
    mounted() {
      this.onResponsiveInverted()
      window.addEventListener('resize', this.onResponsiveInverted)
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.onResponsiveInverted)
    },

    methods: {
      ...mapMutations('app', ['setDrawer', 'toggleDrawer']),
      onDrawerToggle() {
        this.setDrawer(!this.$store.state.app.drawer)
      },
      onMenuToggle() {
      //
      },
      onResponsiveInverted() {
        this.mobile = false
        if (window.innerWidth < 991) {
          this.responsive = true
          if (window.innerWidth < 550) {
            this.mobile = true
          }
        } else {
          this.responsive = false
        }
      }
    }
  }
</script>

<style lang="scss">
  #core-toolbar{
    a {
      text-decoration: none;
    }
  }
</style>
