<template lang="pug">
  v-content#core-view
    v-slide-x-transition(mode="out-in")
      router-view
  //core-footer(v-if="$route.name !== 'Maps'")
</template>

<script>
  export default {
    metaInfo() {
      return {
        title: 'DURAEMON'
      }
    }
  }
</script>

<style lang="scss">
#core-view {
  background-color: #fafafa;
  min-height: 100%;
  height: 100%;
}
</style>
