<template lang="pug">
  v-container.pt-0.community-view(fill-height fluid grid-list-xl)
    v-layout(column v-if="!isEmpty(computedCurrentCommunity)")
      .community-cover.align-center(:style="{ backgroundImage: `url('${host}/media/${computedCurrentCommunity.banner}')` }")
      v-layout.pl-2.pr-2
        v-tabs(background-color="blue lighten-1"
          dark
          centered
          slider-color="red"
          v-model="tabs"
          )
          v-tabs-slider
          v-tab(:to="{ name: 'Community', params: { communitySlug: slug } }") New
          v-tab(:to="{ name: 'Community_Manage', params: { communitySlug: slug } }" v-if="!computedCurrentCommunity.isOwner") Manage
          v-tabs-items(v-model="tabs" background-color="transparent")
            //v-tab-item(value="community-tab-new")
            //v-tab-item(v-if="!computedCurrentCommunity.isOwner" value="community-tab-manage")
              do-community-manage
            router-view
      do-community-home(v-if="$route.name == 'Community'")
</template>

<script>
  import { mapActions, mapState } from 'vuex'
  import isEmpty from 'lodash/isEmpty'
  import communityApi from '@/api/community'

  export default {
    name: 'Community',
    data() {
      return {
        host: process.env.NODE_ENV === 'development' ? 'http://doraemon.craftpa.com' : '',
        tabs: null,
        community: {
          name: 'abcd',
          description: null,
          coverPhoto: 'images/image-placeholder.png',
        }
      }
    },
    computed: {
      ...mapState('community', ['currentCommunity']),
      slug() {
        return this.$route.params.communitySlug
      },
      computedCurrentCommunity() {
        return this.currentCommunity || {}
      }
    },
    methods: {
      ...mapActions('community', [
        'loadCurrentCommunity',
        'clearCurrentCommunity'
      ]),
      isEmpty,
      loadCommunity() {
        this.loadCurrentCommunity(this.slug)
      }
    },
    mounted() {
      this.loadCommunity()
    },
    beforeDestroy() {
      this.clearCurrentCommunity()
    }
  }
</script>
<style lang="scss">
  .community-view {
    .community-cover {
      width: 100%;
      text-align: center;
      max-height: 200px;
      margin: 0 auto;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      img {
        max-height: 200px;
      }
    }

    .v-tabs-items {
      background-color: transparent !important;
    }
  }

</style>
