<template lang="pug">
  v-container.mt-0
    v-slide-y-transition(mode="out-in")
        v-layout()
          v-flex(xs12 md12)
            v-validate-group(v-slot="{ handleSubmit }")
              v-card(color="rgba(255,255,255,0.9)")
                v-card-title
                  v-flex(xs12 md12)
                    h5.font-weight-bold Create post
                  v-flex(xs4 md4)
                    v-select(v-model="selectedCommunity" :items="listCommunity"
                      v-on:change="getTagsByCommunityID()"
                      label="Select a community" item-text="name" item-value="id")
                  v-flex(xs4 md4)
                    v-select(v-model="selectedTag" :items="tags" label="Select a tag" item-text="name" item-value="id")
                v-tabs( centered=true grow=true )
                  v-tabs-slider
                  v-tab(v-model="tab" )
                    v-icon mdi-file-document-edit
                    | Post
                  v-tab()
                    v-icon mdi-folder-multiple-image
                    | Image & Video
                  v-tab()
                    v-icon mdi-link
                    | Link
                  v-tab-item(:key=1)
                    v-card(flat="" )
                      v-card-text
                        v-form
                          v-validate(v-slot="{ errors }" rules="required" name="Title")
                            v-text-field(v-model="titlePost" :counter="300"  label="Title"
                              prepend-icon="mdi-book-open-variant"  name = "titlePost" :error-messages="errors[0]")
                          v-validate(v-slot="{ errors }" rules="required" name="Content")
                            vue-editor(v-model="content" :error-messages="errors[0]")
                            v-btn(color="info" @click="handleSubmit(handleAddNewPost)") SAVE
                            v-btn SAVE DRAFT
                  v-tab-item(:key=2)
                    v-card(flat="" )
                      v-card-text
                        v-form
                          v-validate(v-slot="{ errors }" rules="required" name="Title")
                            v-text-field(v-model="titleFile" :counter="300"  label="Title"
                              prepend-icon="mdi-book-open-variant")
                          v-validate(v-slot="{ errors }" rules="required" name="File")
                            v-file-input#uploadFiles(label="Click to upload file" filled=""
                              v-model="selectedFile"
                              prepend-icon="mdi-camera"
                              show-size counter accept="image/*, video/*")
                            v-card-actions
                              v-btn(color="info" @click="handleSubmit(handleUploadFile)") SAVE
                              v-btn SAVE DRAFT
                  v-tab-item(:key=3)
                    v-card(flat="" )
                      v-card-text
                        v-form
                          v-validate(v-slot="{ errors }" rules="required" name="Title_File")
                            v-text-field(v-model="titleLink" :counter="300"  label="Title"
                              prepend-icon="mdi-book-open-variant")
                          v-validate(v-slot="{ errors }" rules="required" name="Title_File")
                            v-textarea(
                              name="input-5-1"
                              label="URL"
                              hint="Enter the URL"
                              prepend-icon="mdi-link")
                          v-card-actions
                            v-btn(color="info") SAVE
                            v-btn SAVE DRAFT


</template>
<script>
  import { VueEditor } from 'vue2-editor';
  import postAPI from '@/api/post'
  import communityApi from '@/api/community';
  import tagApi from '@/api/tag';

  export default {
    components: {
      VueEditor
    },
    data() {
      return {
        errorContent: '',
        selectedFile: null,
        tab: null,
        select: null,
        content: '',
        listCommunity: [],
        tags: [],
        selectedCommunity: null,
        selectedTag: null,
        titlePost: '',
        titleFile: '',
        titleLink: '',
        config: {
          toolbar: [
            ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript']
          ],
          height: 300
        }
      }
    },
    methods: {
      handleAddNewPost() {
        const post = { title: this.titlePost, content: this.content }
        postAPI.create(post, this.selectedCommunity, this.selectedTag)
          .then((response) => {
            const comSlug = this.listCommunity[this.selectedCommunity].slug
            const postSlug = response.data.data.slug
            this.$router.push({ path: `/app/${comSlug}/${postSlug}` })
          })
          .catch((ex) => {
            console.log(ex.response.data)
          })
      },
      handleUploadFile() {
        console.log('upload file')
      },
      getTagsByCommunityID() {
        tagApi.getAll(this.selectedCommunity)
          .then((response) => {
            console.log('response', response)
            this.tags = response.data.data
            if (this.tags.length > 0) {
              this.selectedTag = this.tags[0].id
            }
          })
          .catch((ex) => {
            console.log('Error: ', ex)
          })
      }
    },
    beforeMount() {
      communityApi.getTrendingCommunities()
        .then((response) => {
          this.listCommunity = response.data.data.content
          console.log(this.listCommunity)
          if (this.listCommunity.length > 0) {
            this.selectedCommunity = this.listCommunity[0].id
            this.getTagsByCommunityID()
          }
        }).catch((ex) => {
          console.log('Error: ', ex)
        })
    }
  }
</script>
<style lang="scss">
  #uploadFiles {
    padding: 100px;
  }
</style>
