<template lang="pug">
  div#home(
    v-scroll="onScroll"
  )
    core-toolbar
    //core-drawer
    do-home-content(v-if="isHome")
    core-view(v-show="!isHome")
</template>

<script>

  export default {
    name: 'Home',
    components: {
    },
    computed: {
      isHome() {
        return this.$route.name === 'Home'
      }
    },
    methods: {
      onScroll(e) {
        const isEnd = document.documentElement.scrollTop + window.innerHeight >= document.documentElement.offsetHeight - 20
        if (isEnd) {
          this.$eventBus.$emit('appScrollEnd')
        }
      }
    }
  }
</script>
<style>
  #home {
    min-width: 100%;
    height: 100%;
    min-height: 100%;
  }
</style>
