<template lang="pug">
  div#login
    v-container(fill-height fluid grid-list-xl)
      v-slide-y-transition(mode="out-in")
        v-layout(justify-center wrap v-show="show")
          v-flex(xs12 md6 lg4)
            material-card(color="blue" title="Sign in")
              v-validate-group(v-slot="{ handleSubmit }")
                v-form
                  v-container(py-0)
                    v-layout(wrap)
                      v-flex(xs12)
                        v-alert(type="error" v-show="errorMessage") {{ errorMessage }}
                      v-flex(xs12)
                        v-validate(v-slot="{ errors }" rules="required|email" name="Email")
                          v-text-field.purple-input(
                            v-model="credential.email"
                            prepend-inner-icon="mdi-account"
                            label="Email"
                            :error-messages="errors[0]"
                            @keypress.enter="handleSubmit(onLocalLogin)"
                            :disabled="progress"
                            ref="email"
                            )
                      v-flex(xs12)
                        v-validate(v-slot="{ errors }" rules="required" name="Password")
                          v-text-field.purple-input(
                            type="password"
                            v-model="credential.password"
                            prepend-inner-icon="mdi-textbox-password"
                            label="Password"
                            :error-messages="errors[0]"
                            @keypress.enter="handleSubmit(onLocalLogin)"
                            :disabled="progress"
                            )
                      v-flex.pt-0.pb-0(xs12 text-xs-right)
                        v-btn.mx-0.font-weight-light(
                          color="blue"
                          block
                          @click="handleSubmit(onLocalLogin)"
                          :disabled="progress"
                          )
                          | Login
                      v-flex.text-center.white--text(xs12) Or Login with
                      v-flex.align-items.justify-center.align-center.d-flex(xs12)
                        v-btn.mx-2(
                          fab
                          dark
                          small
                          color="blue"
                          @click="onSocialLogin('facebook')"
                          )
                          v-icon mdi-facebook
                        v-btn.mx-2(
                          fab
                          dark
                          small
                          color="blue-grey lighten-1"
                          @click="onSocialLogin('github')"
                        )
                          v-icon mdi-github-circle
                        v-btn.mx-2(
                          fab
                          dark
                          small
                          color="orange"
                          @click="onSocialLogin('google')"
                        )
                          v-icon mdi-google
                      v-flex.align-content-end.justify-end.d-flex(xs12)
                        span.blue-grey--text.text--lighten-3 Have not account yet?
                        router-link.pl-2(:to="{ name: 'Register' }") &nbsp; Register
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    data() {
      return {
        progress: false,
        show: false,
        errorMessage: '',
        credential: {
          email: null,
          password: null
        },
      }
    },
    methods: {
      ...mapActions('authen', ['localLogin', 'socialLogin']),
      onSocialLogin(provider) {
        this.errorMessage = null
        this.$auth.authenticate(provider)
          .then(response => this.socialLogin({ provider, code: response.code }))
          .then(() => {
            this.$router.push({ name: 'Home' })
          })
          .catch((error) => {
            this.errorMessage = error.message
          })
      },
      onLocalLogin() {
        this.progress = true
        this.errorMessage = null
        this.localLogin(this.credential)
          .then(() => {
            this.progress = false
            this.$router.push({ name: 'Home' })
          })
          .catch(() => {
            this.progress = false
            this.errorMessage = 'Invalid username/password'
          })
      }
    },
    mounted() {
      setTimeout(() => {
        this.show = true
        this.$refs.email.focus()
      }, 250)
    },
    beforeDestroy() {
      this.show = false
    }
  //
  }
</script>
<style lang="scss">
  #login {
    width: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
    }
  }
</style>
