<template lang="pug">
  .mapouter
    .gmap_canvas
      iframe#gmap_canvas(
        width="100%"
        height="100%"
        src="https://maps.google.com/maps?q=google&t=&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        )
</template>

<style lang="scss">
.mapouter {
  text-align: right;
  height: 100%;
  width: 100%;
  /*position: absolute;*/
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}
</style>
