<template lang="pug">
  v-container(fill-height fluid grid-list-xl)
    v-layout(justify-center wrap)
      v-flex(xs12 md8)
        material-card(color="green" title="Create Community" text="")
          v-form
            v-container(py-0)
              v-validate-group(v-slot="{ handleSubmit }")
                v-layout(wrap)
                  v-flex(xs12 md12)
                    .subheading Avatar
                  v-flex(xs12 md12)
                    core-image-uploader(v-model="avatar" avatar)
                  v-flex(xs12 md12)
                    .subheading Banner
                  v-flex(xs12 md12)
                    core-image-uploader(v-model="banner")
                  v-flex(xs12 md12)
                    v-validate(rules="required" name="Name" v-slot="{ errors }")
                      v-text-field.purple-input(
                        label="Name"
                        v-model="community.name"
                        :error-messages="errors[0]"
                      )
                  v-flex(xs12 md12)
                    v-validate(rules="required" name="Description" v-slot="{ errors }")
                      v-textarea.purple-input(
                      label="Description"
                      v-model="community.description"
                      :error-messages="errors[0]"
                      )
                  v-flex(xs12 text-xs-right)
                    v-btn.mx-2.font-weight-light(color="primary" @click="handleSubmit(createCommunity)")
                      | Create
                    v-btn.mx-2.font-weight-light(color="grey" @click="$router.push({ name: 'Home' })")
                      | Cancel
</template>

<script>
  import communityApi from '@/api/community'
  import mediaApi from '@/api/media'

  export default {
    name: 'NewCommunity',
    data() {
      return {
        slug: null,
        banner: {
          file: null,
          image: 'assets/images/image-placeholder.png',
        },
        avatar: {
          file: null,
          image: 'assets/images/image-placeholder.png',
        },
        community: {
          name: null,
          description: null,
        }
      }
    },
    computed: {
    },
    methods: {
      uploadBanner() {
        return mediaApi.upload(this.banner.file)
          .then((response) => {
            this.community.banner = response.data.data.fileName
            return communityApi.modify(this.community)
          })
      },
      uploadAvatar() {
        return mediaApi.upload(this.avatar.file)
          .then((response) => {
            this.community.avatar = response.data.data.fileName
            return communityApi.modify(this.community)
          })
      },
      createCommunity() {
        communityApi.create(this.community)
          .then((response) => {
            this.community = response.data.data
            if (this.banner.file) {
              return this.uploadBanner()
            }
            return Promise.resolve({})
          })
          .then(() => {
            if (this.avatar.file) {
              return this.uploadAvatar()
            }
            return Promise.resolve({})
          })
          .then((response) => {
            this.$router.push({
              name: 'Community',
              params: { communitySlug: this.community.slug }
            });
          })
          .catch((ex) => {
            console.log('Error: ', ex)
          })
      },
    }
  }
</script>
