<template lang="pug">
  v-container(fluid grid-list-xl fill-height)
    v-layout(justify-center align-center)
      v-flex(xs12)
        material-card(color="green")
          div(slot="header")
            .title.font-weight-light.mb-2 Notifications
            .category
              | Handcrafted by us with
              v-icon(size="17")
                | mdi-heart
          v-card-text
            v-layout(row wrap)
              v-flex(md6 sm12)
                h2.title.font-weight-light.mb-3 Notifications Style
                material-notification.mb-3(color="info")
                  | This is a plain notification
                material-notification.mb-3(color="info" dismissible)
                  | This is a notification with close button.
                material-notification.mb-3(color="info" dismissible icon="mdi-bell-plus")
                  | This is a notification with close button and icon.
                material-notification.mb-3(color="info" dismissible icon="mdi-bell-plus")
                  | This is a notification with close button and icon and have many lines.
                  | You can see that the icon and the close button are always vertically aligned.
                  | This is a beautiful notification. So you don't have to worry about the style.
              v-flex(md6 sm12)
                h2.title.font-weight-light Notifcation States
                material-notification.mb-3(color="info" dismissible)
                  strong INFO
                  |  - This is a regular notification made with `color="info"`
                material-notification.mb-3(color="success" dismissible)
                  strong SUCCESS
                  |  - This is a regular notification made with `color="success"`
                material-notification.mb-3(color="warning" dismissible)
                  strong WARNING
                  |  - This is a regular notification made with `color="warning"`
                material-notification.mb-3(color="error" dismissible)
                  strong DANGER
                  |  - This is a regular notification made with `color="error"`
                material-notification.mb-3(color="purple" dismissible)
                  strong PRIMARY
                  |  - This is a regular notification made with `color="purple"`
            .text-xs-center
              h2.title.font-weight-light.mb-2 Notification Places
              span.subheading.font-weight-light.grey--text Click to view notifications
            v-container(grid-list-lg)
              v-layout(justify-center row wrap)
                v-flex(xs12 sm4)
                  v-btn(block color="success" @click="snack('top', 'left')")
                    | Top Left
                v-flex(xs12 sm4)
                  v-btn(block color="success" @click="snack('top')")
                    | Top Center
              v-layout(justify-center row wrap)
                v-flex(xs12 sm4)
                  v-btn(block color="success" @click="snack('top', 'right')")
                    | Top Right
                v-flex(xs12 sm4)
                  v-btn(block color="success" @click="snack('bottom', 'left')")
                    | Bottom Left
              v-layout(justify-center row wrap)
                v-flex(xs12 sm4)
                  v-btn(block color="success" @click="snack('bottom')")
                    | Bottom Center
                v-flex(xs12 sm4)
                  v-btn(block color="success" @click="snack('bottom', 'right')")
                    | Bottom Right
            v-snackbar(:color="color" :bottom="bottom" :top="top" :left="left" :right="right" v-model="snackbar" dark)
              v-icon.mr-3(color="white")
                | mdi-bell-plus
              div
                | Welcome to
                b Vue Material Dashboard
                |  - a beautiful freebie for every web developer.
              v-icon(size="16" @click="snackbar = false")
                | mdi-close-circle
</template>

<script>
  export default {
    data: () => ({
      color: null,
      colors: [
        'purple',
        'info',
        'success',
        'warning',
        'error'
      ],
      top: true,
      bottom: false,
      left: false,
      right: false,
      snackbar: false
    }),

    methods: {
      snack(...args) {
        this.top = false
        this.bottom = false
        this.left = false
        this.right = false

        args.forEach((loc) => {
          this[loc] = true
        })

        this.color = this.colors[Math.floor(Math.random() * this.colors.length)]

        this.snackbar = true
      }
    }
  }
</script>
