<template lang="pug">
  v-container.mt-0
    v-layout.pl-2.pr-2.ma-0.post-detail-contain
      v-flex(xs8)
        v-content.pt-3.mt-4
          v-flex.pl-2.pr-2(xs12)
            v-card.mb-2
              v-card-title
                span#community-name
                  img(src = "https://a.thumbs.redditmedia.com/E0Bkwgwe5TkVLflBA7WMe9fMSC7DV2UOeff-UpNJeb0.png" width="20px")
                  | &nbsp;r/{{community.name}} posted by {{post.author}} on {{post.createDate}}
                v-flex(xs12 md12)
                  span {{post.title}}
              v-card-subtitle
                br
                span(v-html="post.content")
                br
                br
                hr
                v-btn(icon) {{post.upVote}}
                  v-icon mdi-thumb-up
                v-btn.ml-5(icon) {{post.downVote}}
                  v-icon mdi-thumb-down
                v-btn.ml-5(icon) {{post.comment}}
                  v-icon mdi-forumhr
                h5 Comment as {{currentUser.name}}
                vue-editor(v-model="comment")
              v-card-actions
                v-flex(xs12 md12)
                  v-btn(color="primary" v-on:click="sumbitCommnet()" block )
                    b Submit
                  v-select(:items="sortTypes" outlined="" label="Sort by")
                  hr
              v-card-text
      v-flex(xs4)
        material-card(title="COMMUNITY DETAILS" color="orange")
          v-card-text
            v-layout(row)
              v-flex(xs12)
                .d-flex
                  v-avatar
                    v-img(src="@/assets/images/doraemon.png")
                  h2.pl-2.ma-0 {{ community.name }}
              v-flex(xs12)
                v-layout(row)
                  v-flex(xs4)
                    v-list-item.pa-0(two-line)
                      v-list-item-content.pa-0
                        v-list-item-title
                          h2.ma-0 10.5k
                        v-list-item-subtitle Member
                  v-flex(xs4)
                    v-list-item.pa-0(two-line)
                      v-list-item-content.pa-0
                        v-list-item-title
                          h2.ma-0 10.5k
                        v-list-item-subtitle online
                  v-flex(xs4)
                    v-list-item.pa-0(two-line)
                      v-list-item-content.pa-0
                        v-list-item-title
                          h2.ma-0 10.5k
                        v-list-item-subtitle online
              v-flex(xs12)
                | {{ community.description }}
              v-flex(xs12)
                v-btn(color="primary" block) Join
                v-btn(color="primary" block) Create Post
        div
</template>

<script>
  import { mapState } from 'vuex';
  import { VueEditor } from 'vue2-editor';
  import authenAPI from '@/api/authen'
  import communityApi from '@/api/community'
  import postAPI from '@/api/post'

  export default {
    components: {
      VueEditor
    },
    data() {
      return {
        posts: [],
        sortTypes: ['Best', 'Top', 'New', 'Old', 'Q&A', 'Controversial'],
        community: {
          name: 'r/News'
        },
        comment: '',
        currentUser: {
          name: 'hoalaxanh123'
        },
        post: {
          title: 'Employees say they’re owed thousands after Calgary restaurant owned by Bret Hart\'s daughter shuts down',
          author: 'Vuong Nguyen',
          createDate: '24/12/2019',
          content: 'Fires burning out of control overnight in NSW, Victoria and SA following day of '
            + 'record temperatures across Australia (via ABC News, Australia',
          upVote: 15,
          downVote: 505,
          comment: 952
        }
      }
    },
    methods: {
      sumbitCommnet() {
        console.log('Send comment')
      },
      getCommunityBySlug(slug) {
        communityApi.getBySlug(slug)
          .then((response) => {
            // if something here
            if (response.status !== 200) {
              this.showMessage('Error: Something wrong here', 'error')
              return
            }
            this.community = response.data.data
          })
          .catch((ex) => {
            console.log('Error: ', ex.response)
          })
      },
      getPostBySlug(slug) {
        postAPI.getPostBySlug(slug)
          .then((response) => {
            // if something here
            if (response.status !== 200) {
              this.showMessage('Error: Something wrong here', 'error')
              return
            }
            console.log(response.data.ta)
            this.post = response.data.data
          })
          .catch((ex) => {
            console.log('Error: ', ex.response)
          })
      }
    },
    computed: {
      ...mapState('community', ['currentCommunity']),
      slug() {
        return this.$route.params.communitySlug
      },
      computedCurrentCommunity() {
        return this.currentCommunity || {}
      }
    },
    beforeMount() {
      try {
        const communitySlug = window.location.pathname.split('/')[2]
        this.getCommunityBySlug(communitySlug)
      } catch (e) {
        this.$router.push({ name: 'Home' })
      }
      try {
        const postSlug = window.location.pathname.split('/')[3]
        this.getPostBySlug(postSlug)
      } catch (e) {
        this.$router.push({ name: 'Home' })
      }
      authenAPI.whoAmI()
        .then((response) => {
          // if something here
          this.currentUser = response.data.data
        })
        .catch((ex) => {
          this.showMessage(`Error: ${ex.response.data.message.toString()}`, 'error')
        })
    }
  }

</script>
<style lang="scss">
  #post-detail-contain {
    background-color: #fafafa;
    min-height: 100%;
    height: 100%;
    .community-item {
      background-color: white !important;
      &:before {
        background-color: transparent;
      }
    }
  }
  #community-name{
    font-weight: normal;
    font-size: 11.5px;
  }
  .post-list {
       .community-item {
         background-color: white !important;
         &:before {
           background-color: transparent;
         }
       }
     }
</style>
