<template lang="pug">
  div#register(
  )
    v-container(fill-height fluid grid-list-xl)
      v-slide-y-transition(mode="out-in")
        v-layout(justify-center wrap v-show="show")
          v-flex(xs12 md6 lg4)
            material-card(color="blue" title="Register")
              v-validate-group(v-slot="{ handleSubmit }")
                v-form
                  v-container(py-0)
                    v-layout(wrap)
                      v-flex(xs12)
                        v-snackbar(v-model="snackbar" top right :timeout="timeout" :color="'error'")
                          | {{ messContent }}
                      v-flex(xs12)
                        v-validate(v-slot="{ errors }" rules="required" name="Username")
                          v-text-field.purple-input(
                            v-model="userInfo.username"
                            prepend-inner-icon="mdi-account"
                            label="Username"
                            :error-messages="errors[0]"
                          )
                      v-flex(xs12)
                        v-validate(v-slot="{ errors }" rules="required" name="Full Name")
                          v-text-field.purple-input(
                            v-model="userInfo.name"
                            prepend-inner-icon="mdi-format-text"
                            label="Full Name"
                            :error-messages="errors[0]"
                          )
                      v-flex(xs12)
                        v-menu(ref="menu"
                          v-model="birthDayOpen"
                          :close-on-content-click="false"
                          transition="scale-transition"
                          offset-y="" min-width="290px"
                        )
                          template(v-slot:activator="{ on }")
                            v-validate(v-slot="{ errors }" rules="required" name="Birthday")
                              v-text-field(
                                v-model="userInfo.birthDay"
                                label="Birthday"
                                prepend-inner-icon="mdi-calendar"
                                v-on="on"
                                data-vv-delay="1000"
                                data-vv-name="Birthday"
                                data-vv-as="label"
                                :error-messages="errors[0]"
                              )
                          v-date-picker(v-model="userInfo.birthDay"
                            no-title=""
                            scrollable=""
                            @input="birthDayOpen = false"
                          )
                      v-flex(xs12)
                        v-validate(v-slot="{ errors }" rules="required|email" name="Email")
                          v-text-field.purple-input(
                            v-model="userInfo.email"
                            prepend-inner-icon="mdi-email"
                            label="Email"
                            :error-messages="errors[0]"
                          )
                      v-flex(xs12)
                        v-validate(v-slot="{ errors }" rules="required" name="Password")
                          v-text-field.purple-input(
                            v-model="userInfo.password"
                            :type="showPass ? 'text' : 'password'"
                            prepend-inner-icon="mdi-textbox-password"
                            :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                            @click:append="showPass = !showPass"
                            label="Password"
                            :error-messages="errors[0]"
                          )
                      v-flex(xs12)
                        v-validate(v-slot="{ errors }" rules="required" name="Confirm Password")
                          v-text-field.purple-input(
                            v-model="userInfo.confirmPassword"
                            :type="showPass ? 'text' : 'password'"
                            prepend-inner-icon="mdi-textbox-password"
                            :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                            @click:append="showPass = !showPass"
                            label="Confirm Password"
                            :error-messages="errors[0]"
                          )
                      v-flex.pt-0.pb-0(xs12 text-xs-right)
                        v-btn.mx-0.font-weight-light(
                          color="blue"
                          @click="handleSubmit(doRegister)"
                          block
                        )
                          | Register
                      v-flex.pt-0(xs12 text-xs-right)
                        v-btn.mx-0.font-weight-light(
                          @click="$router.push({ name: 'Home' })"
                          color="grey" block
                        )
                          | Cancel
                      v-flex.align-content-end.justify-end.d-flex(xs12)
                        span.blue-grey--text.text--lighten-3 Already have account?
                        router-link.pl-2(:to="{ name: 'Login' }") Login
                      div
</template>

<script>
  import authenApi from '@/api/authen'

  export default {
    name: 'Register',
    data() {
      return {
        show: false,
        snackbar: false,
        birthDayOpen: false,
        showPass: false,
        messContent: '',
        typeMess: 'success',
        timeout: 5000,
        userInfo: {
          // username: null,
          // password: null,
          // confirmPassword: null,
          // fullName: null,
          // email: null,
          // birthDay: null
          username: 'admin',
          password: 'admin',
          confirmPassword: 'admin',
          name: 'full name',
          email: 'admin@admin.com',
          birthDay: '1991/1/24'
        }
      }
    },
    methods: {
      doRegister() {
        const userInfo = this.userInfo
        authenApi.localSingup(userInfo)
          .then((response) => {
            // if something here
            if (response.status !== 200) {
              this.showMessage('Error: Something wrong here', 'error')
              return
            }
            this.showMessage('Success: Register successfully !', 'success')
            this.$router.push({ name: 'Login' })
          })
          .catch((ex) => {
            this.showMessage(`Error: ${ex.response.data.message.toString()}`, 'error')
          })
      },
      showMessage(mess, type) {
        this.timeout = 5000
        this.messContent = mess
        this.typeMess = type
        this.snackbar = true
      }
    },
    mounted() {
      setTimeout(() => {
        this.show = true
      }, 250)
    },
    beforeDestroy() {
      this.show = false
    }
  }
</script>
<style lang="scss">
  #register {
    width: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
    }
  }
</style>
