<template>
  <div></div>
</template>

<script>
  export default {
    data() {
      return {
      }
    },
    methods: {
    },
    beforeCreate() {
      const { token } = this.$router.currentRoute.query
      if (token) {
        localStorage.setItem('token', token)
        this.$router.replace({ query: null });
        // this.$router.push('/dashboard')
      } else {
        localStorage.clear()
      }
    },
    beforeDestroy() {
    }
  }
</script>
