<template lang="pug">
  v-container(fill-height fluid grid-list-xl)
    v-layout(justify-center wrap)
      v-flex(xs12 md8)
        material-card(color="green" v-bind:title="title" v-bind:text="description")
          v-form
            v-container(py-0)
              v-layout(wrap v-show="changeInfoAction")
                v-flex(xs12 md12)
                  v-avatar.mx-auto.d-block(slot="offset" size="130")
                    img(v-bind:src="userInfo.avatar")
                v-flex(xs12 md12)
                  v-text-field.purple-input(label="User Name" v-model="userInfo.userName" disabled)
                v-flex(xs12 md12)
                  v-text-field.purple-input(label="Email Address"  v-model="userInfo.email")
                v-flex(xs12 md12)
                  v-text-field.purple-input(label="Full Name"  v-model="userInfo.fullName")
                v-flex(xs12 text-xs-right)
                  v-btn.mx-2.font-weight-light(color="success" @click="handleChangeUserInfo()")
                    | Update Profile
                  v-btn.mx-2.font-weight-light(color="danger" @click = "handleChangeActionType()")
                    | Change password
              v-layout(wrap v-show="!changeInfoAction")
                v-flex(xs12 md12)
                  v-text-field.purple-input(label="Old password" v-model="userInfo.userName" disabled)
                v-flex(xs12 md12)
                  v-text-field.purple-input(label="New password"  v-model="userInfo.email")
                v-flex(xs12 md12)
                  v-text-field.purple-input(label="Renew password"  v-model="userInfo.fullName")
                v-flex(xs12 text-xs-right)
                  v-btn.mx-2.font-weight-light(color="success" @click="handleChangePassword()")
                    | Change password
                  v-btn.mx-2.font-weight-light(color="danger" @click="handleChangeActionType()")
                    | Change user info
</template>

<script>
  import authenAPI from '@/api/authen'

  export default {
    data() {
      return {
        title: 'Edit Profile',
        description: 'Complete your profile',
        changeInfoAction: true,
        userInfo: {
          userName: '',
          fullName: 'Nhan Dinh',
          email: 'nhanDinh@gmail.com',
          birthDay: '',
          avatar: 'https://demos.creative-tim.com/vue-material-dashboard/img/marc.aba54d65.jpg'
        }
      }
    },
    methods: {
      handleChangeUserInfo() {
        authenAPI.changeUserInfo(this.userInfo,)
          .then((response) => {
            console.log('response', response)
            // this.$router.push({ name: 'Home' })
          })
          .catch((ex) => {
            this.errorMessage = `Error: ${ex}`
          })
      },
      handleChangeActionType() {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.changeInfoAction = !this.changeInfoAction
        if (this.changeInfoAction) {
          this.title = 'Edit Profile'
          this.description = 'Complete your profile'
        } else {
          this.title = 'Change password'
          this.description = 'Change password if you want'
        }
      },
      handleChangePassword() {
        authenAPI.changeUserInfo(this.userInfo)
          .then((response) => {
            console.log('response', response)
            // this.$router.push({ name: 'Home' })
          })
          .catch((ex) => {
            this.errorMessage = `Error: ${ex}`
          })
      }
    },
    beforeMount() {
      authenAPI.whoAmI()
        .then((response) => {
          // if something here
          this.userName = response.data.userName
          this.fullName = response.data.name
          this.email = response.data.email
          this.birthDay = response.data.birthDay
          this.avatar = response.data.avatar
        })
        .catch((ex) => {
          this.showMessage(`Error: ${ex.response.data.message.toString()}`, 'error')
        })
    }
  }

</script>
