<template lang="pug">
  material-card(color="green")
    template(slot="header")
      .d-flex.pa-0
        h4.title.font-weight-light.mb-2 COMMUNITY INFO
        v-spacer
        v-btn.ma-0(icon @click="edit = true")
          v-icon mdi-pencil
    v-card-text
      v-validate-group(v-slot="{ handleSubmit }")
        v-layout(wrap)
          v-form
            v-container(py-0)
              v-validate-group(v-slot="{ handleSubmit }")
                v-layout(wrap)
                  v-flex(xs12 md12)
                    .subheading Avatar
                  v-flex(xs12 md12)
                    core-image-uploader(
                    v-model="avatar" avatar
                    :readonly="!edit")
                  v-flex(xs12 md12)
                    .subheading Banner
                  v-flex(xs12 md12)
                    core-image-uploader(
                    v-model="banner"
                    :readonly="!edit")
                  v-flex(xs12 md12)
                    v-validate(rules="required" name="Name" v-slot="{ errors }")
                      v-text-field.purple-input(
                      label="Name"
                      v-model="model.name"
                      :error-messages="errors[0]"
                      :disabled="!edit"
                      )
                  v-flex(xs12 md12)
                    v-validate(rules="required" name="Description" v-slot="{ errors }")
                      v-textarea.purple-input(
                      label="Description"
                      v-model="model.description"
                      :error-messages="errors[0]"
                      :disabled="!edit"
                      )
          v-flex(xs12 v-show="edit")
            v-btn(color="primary" @click="modifyCommunity") Save
            v-btn.ml-2(color="grey" @click="cancelEditProfile") Cancel
</template>

<script>
  import communityApi from '@/api/community'
  import mediaApi from '@/api/media'

  export default {
    name: 'CommunityInfo',
    components: {
    },
    methods: {
      cancelDeleteCommunity() {
        window.clearInterval(0)
        this.showDialogDelete = false
        this.timer = 0
      },
      deleteCommunity() {
        window.clearInterval(0)
        this.timer = 0
        this.showDialogDelete = true
        const interval = setInterval(this.downTime, 1000)
        this.intervals.push(interval)
      },
      modifyAvatar() {
        if (this.avatar.file) {
          return mediaApi.upload(this.avatar.file)
        }
        return Promise.resolve({
          data: {
            data: {
              fileName: this.model.banner
            }
          }
        })
      },
      modifyBanner() {
        if (this.banner.file) {
          return mediaApi.upload(this.banner.file)
        }
        return Promise.resolve({
          data: {
            data: {
              fileName: this.model.banner
            }
          }
        })
      },
      modifyCommunity() {
        return communityApi.modify(this.model)
          .then((response) => {
            const newComm = response.data.data
            return this.modifyAvatar()
              .then((aR) => {
                newComm.avatar = aR.data.data.fileName
                return this.modifyBanner()
              })
              .then((bR) => {
                newComm.banner = bR.data.data.banner
                return communityApi.modify(newComm)
              })
          })
          .then(() => {
            this.edit = false
          })
      },
      cancelEditProfile() {
        this.edit = false
        this.community = Object.assign({}, this.currentCommunity)
      }
    },
    props: {
      value: {},
      readonly: {
        type: Boolean,
        default: true,
      }
    },
    data: () => ({
      edit: false,
      input: false,
      howDialogDelete: false,
      timer: 0,
      totalTime: 5,
      intervals: [],
      banner: {
        file: null,
        image: 'assets/images/image-placeholder.png',
      },
      avatar: {
        file: null,
        image: 'assets/images/image-placeholder.png',
      },
      model: {}
    }),
    watch: {
      value: {
        deep: true,
        handler(val) {
          this.model = val
        }
      }
    },
    computed: {
      // model: {
      //   get() {
      //     return this.value
      //   },
      //   set(val) {
      //     this.$emit('input', val)
      //   }
      // },
    },
    mounted() {
      this.model = this.value
    }
  }
</script>
<style lang="scss">
  #home-content {
    background-color: #fafafa;
    min-height: 100%;
    height: 100%;
    .community-item {
      background-color: white !important;
      &:before {
        background-color: transparent;
      }
    }
  }
</style>
