<template lang="pug">
  v-layout.pl-2.pr-2.ma-0.community-home
    v-flex(xs8 v-if="!isManageTag")
      v-layout(row)
        v-flex(xs12)
          do-community-info(
          v-model="community"
          )
    v-flex(xs4 v-if="!isManageTag")
      material-card(title="TAGS" color="orange")
        v-card-text
          v-layout(row)
            v-flex(xs12)
              v-list
                v-list-item(v-for="tag in tags" :key="tag.name")
                  v-list-item-content
                    core-tag(:color="tag.color" :background="tag.background" :title="tag.name")
                  v-list-item-action
                    v-btn(icon color="primary" :to="{ name: 'Community_Tag', params: { tagId: tag.id } }")
                      v-icon mdi-pencil
            v-flex(xs12)
              v-btn(color="primary" block :to="{ name: 'Community_New_Tag' }") Add Tag
      material-card(title="MODS" color="orange")
        v-card-text
          v-layout(row)
            v-flex(xs12)
              v-list
                v-list-item(v-for="mod in mods" :key="mod.username")
                  v-list-item-avatar
                    v-img(src="@/assets/images/doraemon.png")
                  v-list-item-content
                    v-list-item-title {{ mod.fullName }}
                    v-list-item-subtitle {{ mod.username }}
                  v-list-item-action
                    v-btn(icon color="orange darken-2")
                      v-icon mdi-delete
            v-flex(xs12)
              v-btn(color="primary" block) Add Mod
    router-view
      div
</template>

<script>
  import { mapActions, mapState } from 'vuex'
  import communityApi from '@/api/community'
  import tagApi from '@/api/tag'
  import mediaApi from '@/api/media'

  export default {
    name: 'CommunityManage',
    data: () => ({
      community: null,
      tags: [
      ],
      mods: [
        {
          username: 'abcd',
          email: 'abcd@gmail.com',
          avatar: '',
          fullName: 'Mr Abcd'
        },
        {
          username: 'cde',
          email: 'cde@gmail.com',
          avatar: '',
          fullName: 'Mr cde'
        },
        {
          username: 'efg',
          email: 'efg@gmail.com',
          avatar: '',
          fullName: 'Mr efg'
        },
        {
          username: 'gha',
          email: 'gha@gmail.com',
          avatar: '',
          fullName: 'Mr Gha'
        }
      ]
    }),
    computed: {
      ...mapState('community', ['currentCommunity']),
      slug() {
        return this.$route.params.communitySlug
      },
      computedCurrentCommunity() {
        return this.currentCommunity || {}
      },
      isManageTag() {
        return this.$route.name === 'Community_Tag' || this.$route.name === 'Community_New_Tag'
      }
    },
    watch: {
      currentCommunity(val) {
        this.community = Object.assign({}, val)
      },
    },
    methods: {
      ...mapActions('community', [
        'loadCurrentCommunity',
        'clearCurrentCommunity'
      ]),
      saveCommunityProfile() {
        return communityApi.modify(this.model)
      },
      loadTags() {
        return tagApi.getAll(this.currentCommunity.id)
          .then((response) => {
            this.tags = response.data.data
          })
      }
    },
    mounted() {
      this.loadTags()
      this.community = Object.assign({}, this.currentCommunity)
    },
    beforeDestroy() {
    }
  }
</script>
<style lang="scss">
  .community-cover {
    width: 100%;
    text-align: center;
    max-height: 200px;
    margin: 0 auto;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img {
      max-height: 200px;
    }
  }

</style>
