<template lang="pug">
  v-layout.pl-2.pr-2.ma-0.community-home
    v-flex(xs8)
      v-layout(row)
        v-flex(xs12)
          material-card(color="green" title="Tag")
            v-card-text
              v-layout(row v-if="currentCommunity")
                v-flex(xs12)
                  v-text-field(
                    v-model="model.name"
                    label="Name"
                  )
                v-flex(xs12)
                  v-select(v-model="model.color"
                  :items="colors"
                  :chip="false"
                  :color="model.color"
                  label="Color"
                  )
                    template(v-slot:item="{ item, index }")
                      v-btn(:color="item")
                      span.ml-3 {{ item }}
                    template(slot="prepend-inner")
                      v-btn.mr-2(:color="model.color")
                v-flex(xs12)
                  v-select(v-model="model.background"
                  :items="colors"
                  :chip="false"
                  :color="model.color"
                  label="Background"
                  )
                    template(v-slot:item="{ item, index }")
                      v-btn(:color="item")
                      span.ml-3 {{ item }}
                    template(slot="prepend-inner")
                      v-btn.mr-2(:color="model.background")
                v-flex(xs12)
                  v-select(v-model="model.titleColor"
                  :items="colors"
                  :chip="false"
                  :color="model.titleColor"
                  label="Title Color"
                  )
                    template(v-slot:item="{ item, index }")
                      v-btn(:color="item")
                      span.ml-3 {{ item }}
                    template(slot="prepend-inner")
                      v-btn.mr-2(:color="model.titleColor")
                v-flex(xs12)
                  v-btn(color="primary" @click="saveTag") Save
                  v-btn.ml-2(color="grey" @click="") Cancel
    v-flex(xs4)
      material-card(title="PREVIEW" color="orange")
        v-card-text
          v-layout
            core-tag(:title="model.name" :color="model.color" :background="model.background")
            core-post-title(:color="model.titleColor" title="Post Title")
      div
</template>

<script>
  import { mapActions, mapState } from 'vuex'
  import communityApi from '@/api/community'
  import tagApi from '@/api/tag'

  export default {
    name: 'CommunityTag',
    components: {
    },
    props: {
      value: {},
    },
    data: () => ({
      colors: [
        'red',
        'blue',
        'green',
        'black',
        'white',
        'purple',
        'pink',
        'grey',
      ],
      community: null,
      model: {
        name: null,
        color: 'white',
        background: 'blue',
        titleColor: 'black'
      },
    }),
    computed: {
      ...mapState('community', ['currentCommunity']),
      tagId() {
        return this.$route.params.tagId
      },
      isEdit() {
        return this.$route.name !== 'Community_New_Tag'
      }
    },
    watch: {
    },
    methods: {
      saveTag() {
        if (!this.isEdit) {
          return tagApi.create(this.currentCommunity.id, this.model)
        }
        return tagApi.modify(this.currentCommunity.id, this.model)
      },
    },
    mounted() {
      if (this.isEdit) {
        this.model = Object.assign({}, this.value)
      } else {
        this.model = {
          name: null,
          color: 'white',
          background: 'blue',
          titleColor: 'black'
        }
      }
    },
    beforeDestroy() {
    }
  }
</script>
<style lang="scss">
</style>
