<template lang="pug">
  v-layout.pl-2.pr-2.ma-0.community-home
    v-flex(xs8)
      do-post-list
    v-flex(xs4)
      material-card(title="COMMUNITY DETAILS" color="orange")
        v-card-text
          v-layout(row)
            v-flex(xs12)
              .d-flex
                v-avatar
                  v-img(:src="computedCurrentCommunity.avatar")
                h2.pl-2.ma-0 {{ computedCurrentCommunity.name }}
            v-flex(xs12)
              v-layout(row)
                v-flex(xs4)
                  v-list-item.pa-0(two-line)
                    v-list-item-content.pa-0
                      v-list-item-title
                        h2.ma-0 10.5k
                      v-list-item-subtitle Member
                v-flex(xs4)
                  v-list-item.pa-0(two-line)
                    v-list-item-content.pa-0
                      v-list-item-title
                        h2.ma-0 10.5k
                      v-list-item-subtitle online
                v-flex(xs4)
                  v-list-item.pa-0(two-line)
                    v-list-item-content.pa-0
                      v-list-item-title
                        h2.ma-0 10.5k
                      v-list-item-subtitle online
            v-flex(xs12)
              | {{ computedCurrentCommunity.description }}
            v-flex(xs12)
              v-btn(color="primary" block) Join
              v-btn(color="primary" block) Create Post
      div
</template>

<script>
  import { mapActions, mapState } from 'vuex'
  import communityApi from '@/api/community'

  export default {
    name: 'CommunityHome',
    data: () => ({
    }),
    computed: {
      ...mapState('community', ['currentCommunity']),
      slug() {
        return this.$route.params.communitySlug
      },
      computedCurrentCommunity() {
        return this.currentCommunity || {}
      }
    },
    methods: {
    },
    mounted() {
    },
    beforeDestroy() {
    }
  }
</script>
<style lang="scss">
  .community-cover {
    width: 100%;
    text-align: center;
    max-height: 200px;
    margin: 0 auto;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img {
      max-height: 200px;
    }
  }

</style>
