<template lang="pug">
  v-content#home-content
    v-layout(row).pl-3.pr-3
      v-flex.pl-2.pr-2(md8)
        material-card(color="blue" title="Topics")
          do-post-list
      v-flex.pl-2.pr-2(md4)
        material-card(color="green" title="TRENDING COMMUNITIES")
          v-list(light)
            v-list-item.community-item(
              v-for="community in trenddingCommunities"
              :to="{ name: 'Community', params: { communitySlug: community.slug } }"
              :key="community.slug"
              )
              v-list-item-avatar
                v-img(src="@/assets/images/doraemon.png")
              v-list-item-content
                v-list-item-title {{ community.name }}
                v-list-item-subtitle {{ community.description }}
              v-list-item-action
                v-btn(small color="primary" dark @click.prevent="") Join
        material-card(color="orange" title="MY COMMUNITIES")
          v-list(light)
            v-list-item.community-item(to="/app/community/abcd")
              v-list-item-avatar
                v-img(src="@/assets/images/doraemon.png")
              v-list-item-content
                v-list-item-title TMA
                v-list-item-subtitle 10k member
            v-list-item.community-item(to="/app/community/abcd")
              v-list-item-avatar
                v-img(src="@/assets/images/doraemon.png")
              v-list-item-content
                v-list-item-title TMA
                v-list-item-subtitle 10k member
</template>

<script>
  import communityApi from '@/api/community'

  export default {
    name: 'HomeContent',
    components: {
    },
    data: () => ({
      trenddingCommunities: []
    }),
    methods: {
      loadTrendingCommunities() {
        communityApi.getTrendingCommunities()
          .then((response) => {
            this.trenddingCommunities = response.data.data.content
          })
      }
    },
    mounted() {
      this.loadTrendingCommunities()
    }
  }
</script>
<style lang="scss">
  #home-content {
    background-color: #fafafa;
    min-height: 100%;
    height: 100%;
    .community-item {
      background-color: white !important;
      &:before {
        background-color: transparent;
      }
    }
  }
</style>
