<template lang="pug">
  v-content.pt-3.post-list
    v-flex.pl-2.pr-2(xs12)
      v-card.mb-2(v-for="(post, idx) in posts" :key="idx")
        v-card-title
          core-tag(:color="post.tag.color"
            :background="post.tag.background"
            :title="post.tag.name"
          )
          core-post-title(:color="post.tag.titleColor" :title="post.title")
        v-card-subtitle {{ post.content }}
        v-card-actions
          | {{ post.upVote || '0' }}
          v-btn(icon)
            v-icon mdi-thumb-up
          | {{ post.downVote || '0'  }}
          v-btn(icon)
            v-icon mdi-thumb-down
</template>

<script>
  import { mapState } from 'vuex'
  import postApi from '@/api/post'

  export default {
    name: 'PostList',
    props: {
      current: {
        type: Boolean,
        default: true,
      }
    },
    data: () => ({
      loading: false,
      posts: [
      ],
      page: 0,
    }),
    computed: {
      ...mapState('community', ['currentCommunity']),
      isCurrent() {
        return this.currentCommunity && this.currentCommunity.id
      }
    },
    components: {
    },
    methods: {
      loadPost() {
        if (this.isCurrent) {
          return postApi.getAllByCommunity(this.currentCommunity.id, this.page)
        }
        return postApi.getAll(this.page)
      },
      loadMore() {
        if (!this.loading) {
          this.loading = true
          return this.loadPost()
            .then((response) => {
              this.posts = [...this.posts, ...response.data.data.content]
              this.page++
              this.loading = false
            })
            .catch((error) => {
              this.loading = false
            })
        }
        return Promise.resolve({})
      },
      upVote() {
      }
    },
    mounted() {
      this.loadMore()
      this.$eventBus.$on('appScrollEnd', this.loadMore)
    },
    beforeDestroy() {
      this.$eventBus.$off('appScrollEnd', this.loadMore)
    }
  }
</script>
<style lang="scss">
  .post-list {
    .community-item {
      background-color: white !important;
      &:before {
        background-color: transparent;
      }
    }
  }
</style>
