<template lang="pug">
  v-app
    v-container#app-container(fill-height fluid)
      v-progress-circular(
        v-if="!ready"
        :width="7"
        :size="100"
        indeterminate
        color="blue"
        style="margin-left: calc(50% - 50px)"
      )
      v-fade-transition(mode="out-in" v-else)
        router-view()
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'App',
    computed: {
      ...mapState('app', ['ready']),
      ...mapState('authen', ['authenticated']),
    },
    watch: {
      ready(val) {
        if (val && !this.authenticated && this.$route.name !== 'Login') {
          this.$router.push({ name: 'Login' })
        }
      }
    },
    mounted() {
    }
  }
</script>

<style lang="scss">
@import '@/styles/index.scss';

#app-container {
  background: rgba(27, 27, 27, 0.75);
  padding: 0 !important;
}

.v-application {
  background-image: url("../public/images/doraemon-2.jpg") !important;
  background-color: transparent;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.v-datatable thead th.column.sortable i {
  vertical-align: unset;
}
</style>
